  <div class="send-a-message">
    <h1>Connect with <%= @startup.industry %></h1>
    <%= simple_form_for [startup, connection] do |f| %>
      <%= f.submit %>
      <%= f.input :message, as: :text, html5: true %>
    <% end %>
  </div>
