.container-dashboard {
  display: flex;
  flex-direction: row;
  width: 88%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
  gap: 4em;
  margin: 4em;
}

.requests {
  width: 60%;
  border-style: 1px solid white;
  padding: 2em;
  max-height: 50em;
  overflow: scroll;
  background-color: white;
  color: #17185E;
}
