


.investor-signup-page {
  padding: 2rem;

}

.startup-links {
  position: absolute;
  left: 40rem;
  bottom: 20vh;
}

.start-arrow {
  position: absolute;
  right: 20vh;
  top: 20vh;

}
.joing{
  padding: 20px;
  bottom: 20px;
  text-decoration: none;
}
