


.investor-signup-page {
  padding: 2rem;
  color: white;


}

.startup-links {
  position: absolute;
  left: 40rem;
  bottom: 20vh;
}

.start-arrow {
  position: absolute;
  right: 20vh;
  top: 20vh;

}
.joing{
  padding: 150px;
  bottom: 20px;
  text-decoration: none;
  color:white;
  padding-left: 200px;
}
.user signup {
  text-align: none;

}
a.hover {
  text-align: none;

}
#id{
  margin-left: 30vh;
}
