// Specific CSS for your home-page
.all-container{
  margin: 0em 7em 2em
}
.blue-back {
  background-color: #17185E !important ;
  color: white !important;
}

.full-screen {
  min-height: 100vh;
}

#white-text{
  color:white !important;
}

.text-index-page{
  margin-top: 1em;
  font-family: $headers-font !important;
  font-size: 19px !important;
}

.grey-back {
  background-color: #d8d8d8 ;
  color: white;
}

 p {
    color: $white;
  .home-container p {
    color: $blue !important;
  }
  .container-fluid{
    border-bottom: 1px solid $white;
    // padding: 9px;
  }
  .footer {
    border-top: 1px solid $white;
    color: white;
  }

  p.investor-title{
    color: white !important;
  }

  p#joining-text  {
    color: #17185E !important;
    position: absolute;
    left: 23.9em;
    font-size: 2.5em;
    top: 4.7em;
  }

  .home-description {
    width: 40%;
    margin-top: 7.1em;
  }

  .home-description p {
    font-size: 2.3em !important;
  }


}

.home-container p {
  font-family: $headers-font;
  font-size: 1.5em;
  line-height: normal;
  color:white !important;
}

.home-description {
  width: 40%;

  margin-top: 2em;
}

.home-signup {
  width: 23em;
  height: 16em;
  position: absolute;
  right: 22em;
  top:25.1em;
}

.home-signup ul {
list-style: none;
font-size: 2.5em;
font-family: $headers-font;
letter-spacing: 2px;
}

.home-signup li {
  border-bottom: 1px dotted white;
  text-align: justify;
}

.home-signup a {
  color:white;
  text-decoration: none;
}

#sign-up-as {
  font-size: 30px;
}

.white-link{
  color : white;
  text-decoration: none;
}

.graph-box {
  height: 80%;
}

.graph-one {
  width: 40%;
}

.graph-two {
  width: 15%;
}

.graph-three {
  width: 25%;
}

.chart{
  width: 40px;
  height: 200px;
  border:black 2px solid;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 2px;
  background:white;
}
 .chart-inside{
  background: green;
  width: 40px;
  height: 140px;
 }
 .white-link{
  color :white;
  text-decoration: none;
 }

.startup-search-container {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
.list-startups{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.startup-search-bar {
  position: absolute;
  left: 58em;
}

input.search-bar {
  width: 100%;
  height: 100%;
  outline: none;
}

.list-itself {
  width: 33em;
  margin-right: 111px;
  border-top: 1px solid white;
}

select#industry {
  padding: 12px;
  border-radius: 0;
  border:none;
  font-family: $headers-font;
  color: $blue;
  width: 13em;
  outline: none;
}

select#country {
  padding: 12px;
  font-family: $headers-font;
  color: $blue;
  width: 13em;
  border:none;
  border-radius:none;
  outline:none;
}

select#funding {
  padding: 12px;
  font-family: $headers-font;
  color: $blue;
  width: 12em;
  border:none;
  border-radius:none;
  outline:none;
}


input.search-bar-home {
  position: relative;
  width: 33em;
  border: none;
  outline: none;
  border-radius: 0;
  height: 2.6em;
}



#button-search{
  position: absolute;
  right: 8px;
  border: none;
  color: $blue;
  background-color: #d9d9d9;
  top: 7px;
}

select#investor_investor_type{
  width: 100%;
  height: 3em;
  font-family: $headers-font;
  margin-bottom: 1em;
  margin-top: 1em;
  color:$blue;
  text-align: center;
}

select#investor_funding_type{
  width: 100%;
  height: 3em;
  font-family: $headers-font;
  color:$blue;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

#submit-button-search-filter{
  border: none;
  font-size: 20px;
  width: 2em;
  background-color: white;
  height: 2.1em;
  position: absolute;
  top: 202.5px;
  margin-left: 5px;
  color: #17185E;
  border-radius: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  max-height: 63vh;
  overflow: scroll;
  width: 33em;
}


.gallery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.gallery__item {
  position: relative;

  .card-short-descr {
    position: absolute;
    top: 0;
    padding-left: 4px;
    }

    h2{
     // background-color: #eaeaea;
     color: #17185E;
     font-family: "Grotesk medium";
     padding: 9px;
     font-size: 18px;
     padding-bottom: 0;
    }

    h3{
     // background-color: #eaeaea;
      color: #17185E;
      font-family: "Grotesk";
      padding: 9px;
      font-size: 15px;
      margin-top: 0;
      padding-top: 0;
    }

    // p{
    //  // background-color: #eaeaea;
    //   color: #17185E !important;
    //   font-family: "Montserrat", sans-serif;
    // }

    .title-boxed{
     // border: 1px solid green;
      background-color:  #eaeaea !important;
      opacity: 90%;
      padding-top: 2px;
      margin-top: 5px;
      margin-right: 4px;

    }

    .class-boxed{
      //border: 1px solid green;
      background-color:  #eaeaea !important;
      opacity: 90%;
      padding: 6px;
      position: absolute;
      bottom: 10px;
      margin-bottom: 0;
      margin-left: 5px;
    }

     .class-boxed p{
       margin: 0;
       color: #17185E !important;
       font-family: "Montserrat", sans-serif;
       font-size: 12px;


     }
}

.card-height{
  height:200px;
  margin-bottom: 4em;
}

.card-left-details {
  position: absolute;
  width: 33em;
  height: 20em;
  top:4em;
  left:4.4em;
  background-size: 100%;
  object-fit: cover;
  background-position: center;
}

.card-left-info {
  font-family: $headers-font;
  width: 28em;
  color: $blue;
  height: 15em;
  padding:1.5em;
  margin: 3em;
  background-color: #ffffff96;
}

.card-left-info-list li {
  list-style: none;
  float:left;
}

ul.card-left-info-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 10px;
  margin-top: 50px;
  padding: 0;
}

.card-left-info-list p{
  margin: 4px;
}
