// Specific CSS for your home-page
.all-container{
  margin: 2em 7em 2em
}
.blue-back {
  background-color: #17185E !important ;
  color: white;
}

.full-screen {
  min-height: 100vh;
}

.grey-back {
  background-color: #eaeaea ;
  color: white;
  p {
    color: $white;
  }
  .container-fluid{
    border-bottom: 1px solid $white;
  }
  .footer {
    border-top: 1px solid $white;
    color: white;
  }

}

.home-container p {
  font-family: $headers-font;
  font-size: 1.5em;
  line-height: normal;
}

.home-description {
  width: 40%;
  text-align: justify;
  margin-top: 2em;
}

.home-signup {
  width: 23em;
  height: 16em;
  position: absolute;
  right: 22em;
}

.home-signup ul {
list-style: none;
font-size: 2.5em;
font-family: $headers-font;
letter-spacing: 2px;
}

.home-signup li {
  border-bottom: 1px dotted white;
  text-align: justify;
}

.home-signup a {
  color:white;
  text-decoration: none;
}
