// Specific CSS for your home-page
.all-container{
  margin: 0em 7em 2em
}
.blue-back {
  background-color: #17185E !important ;
  color: white !important;
}

.full-screen {
  min-height: 100vh;
}

.grey-back {
  background-color: #eaeaea ;
  color: white;
  p {
  color: $blue !important;
  }
  .container-fluid{
    border-bottom: 1px solid $white;
  }
  .footer {
    border-top: 1px solid $white;
    color: white;
  }
}

.home-container p {
  font-family: $headers-font;
  font-size: 1.5em;
  line-height: normal;
  color:white !important;
}

.home-description {
  width: 40%;
  text-align: justify;
  margin-top: 2em;
}

.home-signup {
  width: 23em;
  height: 16em;
  position: absolute;
  right: 22em;
}

.home-signup ul {
list-style: none;
font-size: 2.5em;
font-family: $headers-font;
letter-spacing: 2px;
}

.home-signup li {
  border-bottom: 1px dotted white;
  text-align: justify;
}

.home-signup a {
  color:white;
  text-decoration: none;
}

.startup-search-container {
  display: flex;
  justify-content: space-between;
}
.list-startups{
  display: flex;
  justify-content: flex-end;
}

.startup-search-bar {
  position: absolute;
  left: 58em;
}

input.search-bar {
  width: 100%;
  height: 100%;
  outline: none;
}

.list-itself {
  width: 562px;
  height: 700px;
  margin-top: 45px;
  margin-right: 111px
}

select#industry {
  padding: 12px;
  font-family: $headers-font;
  color: $blue;
}

select#country {
  padding: 12px;
  font-family: $headers-font;
  color: $blue;
}

select#funding {
  padding: 12px;
  font-family: $headers-font;
  color: $blue;
}


input.search-bar-home {
  width: 33em;
  height: 2.6em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 16vw);
  grid-gap: 15px;
  max-height: 80vh;
  overflow: scroll;
}


.gallery__img {
  flex: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.gallery__item {
  position: relative;

  .card-short-descr {
    position: absolute;
    top: 0;
    padding-left: 4px;
    }

    h2{
     // background-color: #eaeaea;
     color: #17185E;
     font-family: "Grotesk medium";
     padding: 9px;
     font-size: 18px;
     padding-bottom: 0;
    }

    h3{
     // background-color: #eaeaea;
      color: #17185E;
      font-family: "Grotesk";
      padding: 9px;
      font-size: 15px;
      margin-top: 0;
      padding-top: 0;
    }

    // p{
    //  // background-color: #eaeaea;
    //   color: #17185E !important;
    //   font-family: "Montserrat", sans-serif;
    // }

    .title-boxed{
     // border: 1px solid green;
      background-color:  #eaeaea !important;
      opacity: 90%;
      padding-top: 2px;
      margin-top: 5px;
      margin-right: 4px;

    }

    .class-boxed{
      //border: 1px solid green;
      background-color:  #eaeaea !important;
      opacity: 90%;
      padding: 6px;
      position: absolute;
      bottom: 10px;
      margin-bottom: 0;
      margin-left: 5px;
    }

     .class-boxed p{
       margin: 0;
       color: #17185E !important;
       font-family: "Montserrat", sans-serif;
       font-size: 12px;


     }
}
