.startup-info-container{
  display: flex;
  height: 28em;
  width: 38em;
  margin-left: 1.5em;
  margin-top: 1.1em;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 25px;
}

.column{
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.description-startup-boxes{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  margin-top: 1.5em;
}


.industry-boxed{
  background-color: $blue !important;
  width: 136px;
  height: 43px;
  opacity: 90%;
  padding: 10px;
  bottom: 20px;
  margin-bottom: 0;
  margin-left: 1.5em;

  p{
    position: relative;
    color: #FFFFFF;
    //padding-left: 15px;
    text-transform: uppercase;
    font-family: $headers-font;
    letter-spacing: 0.7px;
    text-align: center;
  }
}

.funding-boxed{
  background-color: $blue !important;
  opacity: 90%;
  padding: 10px;
  bottom: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  height: 43px;

  p{
    position: relative;
    color: #FFFFFF;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-family: $headers-font;
    letter-spacing: 0.7px;
  }
}

.card-startup-descripion{
  box-sizing: border-box;

  // position: absolute;
  width: 652px;
  height: 290px;
  margin-top: 15px;

  border: 1px solid $blue;

  h2{
    position: absolute;
    padding-left: 0.5em;
    padding-top: 0.5em;

    font-family: 'Haas Grot Disp';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    color: $blue;
  }

  p{

    //position: absolute;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-top: 3.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    overflow: scroll;

    color: $blue;
  }
}

.countdown-box{
  box-sizing: border-box;
  width: 290px;
  height: 106px;
  border: 1px solid $blue;
}

.raising-funding-box{
  box-sizing: border-box;
  width: 337px;
  height: 106px;
  border: 1px solid $blue;
}

.description-image{

}

.container-dx{
 display: flex;
 flex-direction: column;
 margin-left: 215px;
 margin-top: 1.1em;
}

.team-line-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5em;
    border-bottom-color: white;
    border-bottom-style: dashed;
    padding-bottom: 5px;
    border-top-color: white;
    border-top-style: dashed;
    padding-top: 5px;

    a{
      margin-left: 10px;
      font-family: $headers-font;
      font-size: 40px;
      line-height: 60px;
    }
}

.startup-font-title{
  font-family: $headers-font;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  color: $blue;
}

.page-startup-font-title{
  font-family: $headers-font;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 60px;
  color: #7e7e7e;
}

.send-a-message{

  box-sizing: border-box;
  width: 315px;
  height: 290px;
  border: 1px solid  #125E2D;
  margin-top: 15px;

  h1{
    font-family: $headers-font;
    font-size: 20px;
    color: #125E2D;
    padding-left: 10px;
    padding-top: 10px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color:#125E2D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $headers-font;
    letter-spacing: 0.7px;
    width: 314px;
  }
  
}
