  <div  class="container home-description">
    <%# 1st row %>
    <div class="d-flex">
      <div class="text-start">
        <p>
          We are a team of motivated professionals working tirelessly to increase startup funding by connecting investors with
          high-potential startups and offering entrepreneurs a platform to showcase their business.
        </p>
      </div>

      <div class="d-flex">
         <img src="https://source.unsplash.com/random/150x200/?portrait" alt="Startup" class="rounded" my-4>
      </div>
      <div>
        <img src="https://source.unsplash.com/random/150x200/?portrait" alt="Startup" class="rounded" my-4>
      </div>
    </div>

    <%# 2nd row %>
     <ul>
      <div class="home-signup">
        <div class="container">

          <div class="d-flex justify-content-between">
          <a href="stylesheets" class="btn btn-primary">5</a>
          <div>

          <h2>PENDING REQUEST</h2>
          </div>
            <a href="stylesheets" class="btn btn-success">3</a>
            <h2> UPCOMIMG MEETINGS</h2>
          </div>

          <div>
            <li><i class="fa-sharp fa-solid fa-arrow-right"></i> <%= link_to "TEAM","#" %>
            <li><i class="fa-sharp fa-solid fa-arrow-right"></i> <%= link_to "ARCHIVE","#"%>
          </div>

        </div>
      </div>
    </ul>
  </div>





  #<ul>
        <div class="graph-container">
         <div class="container justify-space-between">
              <a href="margin-right: 10px" class="btn btn-danger">5</a>
              <li>PENDING REQUEST</li>
            </div>

          <div class="container justify-space-between">
            <a class="btn btn-success">3</a>
              <li>UPCOMIMG MEETINGS</li>
            </div>
            <div class="container justify-space-between">


            <li>Faunding Status</li>
            </div>
            </div>
            <div class="description-text w-25">
              <li><i class="fa-sharp fa-solid fa-arrow-right"></i> <%= link_to "TEAM","#" %>
              <li><i class="fa-sharp fa-solid fa-arrow-right"></i> <%= link_to "ARCHIVE","#"%>
            </div>
