<%# <%= @teammembers.first.first_name %>
 <div class="team-container">
    <div class= "description-team-members">
      <div class= "card-member-descripion" >
        <h1>VILMA CATANI</h1>
        <p> Vilma is a sexy gurl from Finland <br> very smart too!! <br>Lorem ipsum dolor sit amet, consectetur adipiscin
        elit, sed do eiusmod tempor incididunt ut laborelaboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <h2>ROLE</h2>
        <p>CEO of sexyness</p>
        <h2>EDUCATION</h2>
        <ul>
          <li>2015-2020 sexyschool</li>
          <li>2015-2020 sexyschool</li>
          <li>2015-2020 sexyschool</li>
          <li>2015-2020 sexyschool</li>
        </ul>
      </div>

      <div class= "list-member">
        <div class="row">
          <div class="column" style="background: #CCCCCC;">what's going on</div>
          <div class="column" style="background: #d3d3d3;">plese work</div>
        </div>

      </div>
    </div>

  </div>
