<% blue_pages = current_page?(root_path) || current_page?(new_user_session_path) || current_page?(startup_path) || current_page?(startup_team_path) || current_page?(user_investor_path) %><div class="footer grey-back <%= 'blue-back' if blue_pages %>">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
