<div class="cards">
  <div class="row">
    <div class="col-md-3">
        <img class="img" src="">
        <div class="card-infos">
          <div class="card-descr">
            <h2>Title here</h2>
            <p class= "description">Short description here!</p>
            <p class="price">99.99 €</p>
          </div>
