<div class="container-dashboard">
  <div class="requests">
    <h3>Requests I've received</h3>
    <% @my_connection_requests_received.each do |request| %>
      <p>Company name: <%= User.where(id:request.receiver_id).select(:company_name).first.company_name %></p>
      <% if request.pending == true and request.accepted == false %>
        <%= render 'connections/accept', request: request %>
        <%= render 'connections/decline', request: request %>
      <%# elsif request.pending == false && request.accepted == true %>

      <%# else %>
      <% else %>
        <%= render 'connections/confirmation', request: request %>
      <% end %>

    <% end %>
  </div>


  <div class="requests"> what is up my pending requests</div>
</div>
