<div class= "home-container">

  <% if user_signed_in? %>
    <% if current_user.user_type == "investor" %>
      <div class="search-list-startup" data-controller="filter-list">
        <%= render 'search/startup_search' %>
        <%= render "startups/list", startups: @startups %>
      </div>
    <% else %>

    <% end %>


  <% else %>
    <div class="home-description">
      <p>We are a team of motivated professionals working tirelessly to increase startup funding by connecting investors with
      high-potential startups and offering entrepreneurs a platform to showcase their business.</p>
    </div>
    <div class="home-signup">
      <ul>
      <li>SIGN UP AS</li>
      <li><i class="fa-sharp fa-solid fa-arrow-right"></i> <%= link_to "START UP",  new_user_registration_path  %></li>
      <li><i class="fa-sharp fa-solid fa-arrow-right"></i> <%= link_to "INVESTOR",  new_user_registration_path %></li>
      </ul>
    </div>
  <% end %>
</div>
