<div class= "home-container">
  <% if user_signed_in? %>
    <% if current_user.user_type == "investor" %>
    <div data-controller="filter-list">
      <%= render 'search/startup_search' %>
      <% @startups.each do |startup| %>
        <p><%= startup.user.company_name %></p>
      <% end %>
    </div>


    <% else %>

    <% end %>


  <% else %>
    <div class="home-description">
      <p>We are a team of motivated professionals working tirelessly to increase startup funding by connecting investors with
      high-potential startups and offering entrepreneursa platform to showcase their business.</p>
    </div>
    <div class="home-signup">
      <ul>
      <li>JOIN AS</li>
      <li><i class="fa-sharp fa-solid fa-arrow-right"></i>  STARTUP</li>
      <li><i class="fa-sharp fa-solid fa-arrow-right"></i>  INVESTOR</li>
      </ul>
    </div>
  <% end %>
</div>
