.members-list-itself{
  width: 33em;
  margin-left: 355px;
  padding: 0;
  border-top: 1px solid white;
  margin-top: 7em;
}


.list-members{

  position: relative;
  /* width: 562px;
  height: 700px;
  background-color: #af9918;
  margin-top: 45px;
  margin-right: 111px;
 */
  .row {
    display: flex;
  }

  .column {
    flex: 50%;
    height: 200em;
    width: 200em;
    column-gap: 0,5rem;
  }
}

.card-member-name{
  position: absolute;
  top: 0;
  padding-left: 4px;
}

.members-gap{
  gap: 5.5rem;
}
.name-boxed{
    background-color: #eaeaea !important;
    opacity: 90%;
    /* padding: 2px 4px; */
    bottom: -197px;
    margin-left: 4px;
    position: relative;
    width: 100px;

    h3{
      // background-color: #eaeaea;
       color: #17185E;
       font-family: "Grotesk";
       font-size: 15px;
       padding: 7px;
      //text-align: center;
     }

}

.description-team-members{
  width: 320px;
  height: 250px;
  background-color: #17185E;
  margin-top: 7em;
  margin-left: 150px;
}

.card-member-descripion{

  margin-top: 4em;
  margin-left: 2em;

  h1{
    font-family: Grotesk medium;
    margin-bottom: 0.8rem;
    padding-left: 1px;
    // padding-right: 30px;
    padding-top: 30px;
    color:  white;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 37px;
  }

  h2{
    font-family: Grotesk medium;
    margin-bottom: 0.5rem;
    padding-left: 1px;
    // padding-right: 30px;
    padding-top: 11px;
    color: #eaeaea;
    font-size: 23px;
  }

  p{
    font-family: "Montserrat", sans-serif;
    padding-left: 1px;
    //padding-right: 30px;
    line-height: 1.2;
    color: white;
    font-size: 16px;
  }

}

.card-left-member {
  position: absolute;
  width: 33em;
  height: 20em;
  top:4em;
  left:4.4em;
  background-size: 100%;
  object-fit: cover;
  background-position: center;
}

.card-left-bio {
  font-family: "Grotesk medium";
  width: 28em;
  color: #17185E !important;
  height: 15em;
  padding: 1.5em;
  position: relative;
  margin: 3em;
  background-color: #ffffff96;
}

#card-left-name {
  font-size: 1.5em;
  color: #17185E !important;
}

#card-left-role {
  font-size: 1em;
  color: #17185E !important;
  max-height: 5em;
  overflow: scroll;
}

.startup-line-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.7em;
  border-bottom-color: white;
  border-bottom-style: dashed;
  padding-bottom: 5px;
  border-top-color: white;
  border-top-style: dashed;
  padding-top: 5px;
  width: 460px;

  a{
    margin-left: 10px;
    font-family: $headers-font;
    font-size: 20px;
    line-height: 40px;
  }
}
