.container-fluid{
  border-bottom: 1px solid white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #17185E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 13em;
  padding: 1em;
}

.nav-item i{
  color: white;
  font-size: 2em;
}
