.container-fluid{
  border-bottom: 1px solid white;
}


.navbar-lewagon {
  justify-content: space-between;
  background: #17185E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 13em;
  padding: 1em;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  position: absolute;
  top: 10em;
  border-radius: 2px;
  font-family: "Montserrat";
  font-size: 1em;
}

.avatar {
  width: 7em;
  background-color: #17185E;
  position: relative;
  top: 0.5em;
  left: 0.8em;
  border-radius: 0px;
  cursor: pointer;
}

.avatar-grey-page {
  width: 7em;
  background-color: #d8d8d8;
  position: relative;
  top: 0.5em;
  left: 0.8em;
  border-radius: 0px;
  cursor: pointer;
}


.nav-item i{
  color: white;
  font-size: 2em;
}
