.startup-search-container {
  display: flex;
  background-color: $light-gray;
  width: 60%;
  margin: auto;
  height: 80px;
  justify-content: center;
}

.startup-search-dropdown {
  width: 40%;
  height: 50%;
  margin:auto;
  padding: 10px;
  border-style: solid;
  align-content: space-between;

}


.startup-filter-form {
  display: flex;
  background-color: $white;
  align-content: space-between;
}
